/*-------------------------------------------------
>> Styles for header and footer of website
-------------------------------------------------*/
@import "layout/layout";

/*-------------------------------------------------
>> Basic styles for theme
-------------------------------------------------*/
@import "theme";
/*-------------------------------------------------
>> Styles for 404
-------------------------------------------------*/
@import "not-found";

