/****
 *
 * helper classes
 *
****/

.large-text {
    font-size: var(--gb_font_size_6);
    line-height: 1.3;
}

.small-text {
    @include font-size(14);
    line-height: 1;
}

.black-text {
    color: var(--wp--preset--color--black);
}

.white_text {
    color: var(--wp--preset--color--white);
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.text-uppercase {
    text-transform: uppercase;
}

// Text-decuration none
.text-decuration-none {
    text-decoration: none;
}

// flex

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}

.align-content-stretch {
    align-content: stretch;
}

// flex items
.align-self-auto {
    align-self: auto;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

// background
.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-position-center {
    background-position: center;
}

.bg-norepeat {
    background-repeat: no-repeat;
}

.bg-repeat {
    background-repeat: repeat;
}

.reset-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/****
 *
 * breadcrumbs
 *
****/
#breadcrumbs {
    @include font-size(14);
    color: var(--gb_breadcrumb_color);
    margin-bottom: 23px;
    text-transform: uppercase;

    span {
        font-size: var(--gb_font_size_4);

        &.breadcrumb_last {
            @include font-size(14);
            font-weight: 500;
            margin-left: 10px;
        }
    }

    a,
    &:visited {
        @include font-size(14);
        border-bottom: 1px solid var(--gb_breadcrumb_border_color);
        color: var(--gb_breadcrumb_link_color);
        font-weight: 700;
        margin: 0 10px;

        &:hover {
            border-bottom: 1px solid var(--gb_breadcrumb_border_color_hover);
        }
    }
}

.single-post #breadcrumbs span span span span span span {
    color: var(--gb_breadcrumb_span_color);
}

.single-post #breadcrumbs span span span span span span a {
    color: var(--gb_breadcrumb_link_color);
}



.no-visible {
    visibility: hidden;
}

.mb-0 {
    margin-bottom: 0 !important;
}


img {
    &.main-image {
        opacity: 0;
        transition: all 500ms ease-in-out;
    }
}

picture {
    img.loaded {
        opacity: 1;
    }
}

.mx-none {
    @media(max-width: 767px) {
        display: none;
    }
}

.sm-none {
    @media(max-width: 640px) {
        display: none;
    }
}

.md-none {
    @media (max-width: 991px) {
        display: none;
    }
}

.desktop-none {
    display: none;

    @media(max-width: 767px) {
        display: block;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeIn {
    to {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

.center-btn {
    display: flex;
    justify-content: center;
}

.center-text {
    text-align: center;
}

:focus {
    outline: none;
}




.bg_color_primary {
    background: var(--gb_color_primary);
}

.bg_gb_black {
    background: var(--gb_gb_black);
}
